.navbar {
  // position: relative;

  display: grid;
  width: 400px;

  grid-template-columns: 1fr;
  grid-template-rows: 250px 1fr 108px;
  grid-template-areas:
    "1"
    "2";

  .logo {
    grid-area: 1;
    user-select: none;
    position: relative;

    .logo-content {
      //

      img {
        position: absolute;

        bottom: 0;
        right: 0;
        transform: translateX(50%);
        width: 100%;
        width: 100px;
      }
    }
  }
  .navigation {
    align-items: center;
    grid-area: 2;
    padding: 3rem 1rem;

    ul {
      height: 100%;
      display: grid;
      text-align: end;

      li {
        list-style: none;
        padding: 2rem 0 1rem 0.4rem;
        font-size: 1.3rem;
        position: relative;

        &:hover i {
          transform: translate(3px, 3px);
          color: blue;
        }

        a {
          color: #000;
          text-decoration: none;
        }
        .navActive {
          border-bottom: solid;
          color: blue;
        }
        .navActive i {
          color: blue;
        }

        i {
          position: absolute;
          font-size: 1.45rem;
          transform: translateY(3px);
          transition: 0.2s ease;
        }
        span {
          margin-right: 1.7rem;
        }
      }
    }
  }
}
