.navbar {
  width: 200px;
  height: 460px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 1fr 108px;
  grid-template-areas:
    "1"
    "2";

  .logo {
    grid-area: 1;
    text-align: center;
    user-select: none;
    position: relative;

    .logo-content {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;

      img {
        width: 100px;
      }
    }
  }
  .navigation {
    grid-area: 2;
    padding: 2rem 1rem;

    ul {
      height: 100%;
      display: grid;

      li {
        list-style: none;
        padding: 2rem 0 1rem 0.4rem;
        font-size: 1.3rem;
        position: relative;

        &:hover i {
          transform: translate(3px, 3px);
        }

        a {
          color: #000;
        }
        .navActive {
          border-bottom: solid;
        }

        i {
          position: absolute;
          font-size: 0.95rem;
          transform: translateY(3px);
          transition: 0.2s ease;
        }
        span {
          margin-left: 2.7rem;
        }
      }
    }
  }
}
