@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

$font-1: "Roboto mono", monospace;
$font-2: "Dosis", sans-serif;
$font-3: "Josefin Sans", serif;

$white: #ffffff;
$black: #110f20;

$borderRadius: 12px;
$shadow: 0 1px 3px #333;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1848px;
}
