@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

$font-1: "Roboto mono", monospace;
$font-2: "Dosis", sans-serif;
$font-3: "Josefin Sans", serif;

$color-1: #0a090f;
$color-2: #d0d0d2;
$color-3: rgb(99, 164, 233);
$color-4: #4fedd2;
$color-5: red;
$white: #ffffff;
$black: #110f20;

$borderRadius: 12px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1848px;
  font-family: $font-1;
  color: $black;
}
